* {
  color: white;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box !important;
}

a, a:hover {
  color: white;
  text-decoration: none;
}
body {
  background-color: #201c35;
  height: fit-content;
  overflow-x: hidden;
}

section {
  -webkit-box-shadow: inset -4px -3px 50px 0px rgba(0, 0, 0, 0.6745098039);
  box-shadow: inset -4px -3px 50px 0px rgba(0, 0, 0, 0.6745098039);
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin: 1.5rem;
}
@media (min-width: 0px) and (max-width: 576px) {
  .section-title {
    font-size: 4rem;
  }
}

.paragraph {
  height: fit-content;
  background-color: #282343;
  border: 3px solid #ff4655;
  border-radius: 10px 0px 10px 0px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 3rem;
  box-shadow: 10px 10px 100px -2px rgba(0, 0, 0, 0.504), -10px -10px 100px -2px rgba(0, 0, 0, 0.504);
}
@media (min-width: 0px) and (max-width: 576px) {
  .paragraph {
    font-size: 2.1rem;
  }
}

.button {
  background-color: #ff4655;
  border: 3px solid white;
  border-radius: 9px 9px;
  padding: 0.625rem 3.125rem 0.625rem 3.125rem;
  letter-spacing: 7px;
  font-size: 1.2em;
  font-weight: 700;
  transition: ease-in-out 0.3s;
  box-shadow: 5px 5px 80px rgba(0, 0, 0, 0.504), -5px -5px 80px rgba(0, 0, 0, 0.504);
}
.button:hover {
  background: #201c35;
  border: 3px solid white;
  color: #ff4655;
  box-shadow: 5px 5px 30px #ff4655, -5px -5px 30px #ff4655;
}

.red_border_bottom {
  border-bottom: 5px solid #ff4655;
}

li {
  list-style: none;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: black;
  border-bottom: 5px solid #ff4655;
}
.header h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 2.8rem;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
  color: black !important;
  transition: ease-in-out 0.3s;
}
@media (min-width: 0px) and (max-width: 576px) {
  .header h2 {
    font-size: 3.2rem;
  }
}
.header h2:hover {
  text-shadow: -1px 1px 0 #ff4655, 1px 1px 0 #ff4655, 1px -1px 0 #ff4655, -1px -1px 0 #ff4655;
  color: black !important;
}
@media (min-width: 576px) and (max-width: 768px) {
  .header a {
    font-size: 1.2rem;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .header a {
    font-size: 1.4rem;
  }
}

.link__nav {
  text-decoration: none;
  background-image: linear-gradient(#ff4655, #ff4655);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.link__nav:hover {
  background-size: 100% 2px;
  color: #ff4655 !important;
}

.introduction {
  width: 100vw;
  height: 30rem;
  text-align: center;
  border-bottom: 5px solid #ff4655;
}
.introduction h1 {
  position: relative;
  z-index: 5;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1rem;
}

.intro_section {
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
  border-bottom: 5px solid #ff4655;
}
.intro_section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.typeWriter {
  white-space: nowrap;
  border-right: 4px solid;
  width: 28ch;
  margin-left: auto;
  margin-right: auto;
  animation: typing 2s steps(28), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 576px) {
  .typeWriter {
    width: 25ch;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.typeWriter-help {
  display: none;
}
@media (min-width: 0px) and (max-width: 576px) {
  .typeWriter-help {
    display: block;
  }
}

.img_adjust--agentesIndex {
  height: 30rem;
  width: auto;
}
@media (min-width: 0px) and (max-width: 576px) {
  .img_adjust--agentesIndex {
    display: none;
  }
}

.imgAdjust--logoIndexAgente {
  width: 8rem;
  height: auto;
  background-color: #282343;
  border-bottom: 4px solid #ff4655;
  padding: 1.25rem;
}
.imgAdjust--logoIndexAgente:hover {
  transform: scale(1.4);
  background-color: #ff4655;
  transition: 0.5s ease-in-out;
}

.text_adjust--logoIndexAgente {
  font-size: 1.3rem;
}

.img_adjust--mapasIndex {
  height: 18rem;
  width: auto;
  border: 0.9375rem solid #282343;
}
@media (min-width: 576px) and (max-width: 768px) {
  .img_adjust--mapasIndex {
    height: 15rem;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .img_adjust--mapasIndex {
    display: none;
  }
}

.carousel_decoration {
  border: 1rem solid #282343;
}

.carousel__div, .carousel__div--split, .carousel__div--ascent, .carousel__div--haven, .carousel__div--bind {
  height: 26rem;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
}
.carousel__div--bind {
  background-image: url(../assets/index/bind_logo.jpg);
}
.carousel__div--haven {
  background-image: url(../assets/index/haven_logo2.jpg);
}
.carousel__div--ascent {
  background-image: url(../assets/index/ascent_logo.jpg);
}
.carousel__div--split {
  background-image: url(../assets/index/split_logo.jpg);
}

.carousel_text {
  font-size: 6rem;
  font-weight: 900;
}

.noticias_paragraph {
  background-color: #282343;
  height: 11em;
  border: 1px solid #ff4655;
  text-align: justify;
  padding: 1.5625rem;
  font-size: 1.2rem;
  font-weight: 100;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.504), -5px -5px 15px -2px rgba(0, 0, 0, 0.504);
}
@media (min-width: 0px) and (max-width: 576px) {
  .noticias_paragraph {
    font-size: 1.4rem;
  }
}

.img_adjust--noticiasIndex {
  height: auto;
  width: 100%;
  border-bottom: 5px solid #ff4655;
}
@media (min-width: 0px) and (max-width: 576px) {
  .img_adjust--noticiasIndex {
    display: none;
  }
}

.footer {
  height: 12rem;
  background-color: #262b28;
  -webkit-box-shadow: inset -4px -3px 50px 0px rgba(0, 0, 0, 0.6745098039);
  box-shadow: inset -4px -3px 50px 0px rgba(0, 0, 0, 0.6745098039);
}
.footer h2 {
  font-weight: 700;
  font-style: italic;
}
@media (min-width: 0px) and (max-width: 576px) {
  .footer h2 {
    font-size: 2.5rem;
  }
}

.social_icon {
  height: 1.25rem;
  width: auto;
  margin: 5px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  html {
    font-size: 8px;
  }
}

.img_adjust--logoTitle {
  width: 4.0625rem;
  height: auto;
}

.carousel__div--mapasPage, .carousel__div--mapasPage--split, .carousel__div--mapasPage--ascent, .carousel__div--mapasPage--haven, .carousel__div--mapasPage--bind {
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
}
.carousel__div--mapasPage--bind {
  background-image: url(../assets/index/bind_logo.jpg);
}
.carousel__div--mapasPage--haven {
  background-image: url(../assets/index/haven_logo2.jpg);
}
.carousel__div--mapasPage--ascent {
  background-image: url(../assets/index/ascent_logo.jpg);
}
.carousel__div--mapasPage--split {
  background-image: url(../assets/index/split_logo.jpg);
}

.carousel_text--page {
  font-size: 12rem;
  font-weight: 900;
  text-decoration: none;
  background-image: linear-gradient(#ff4655, #ff4655);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.carousel_text--page:hover {
  background-size: 100% 2px;
  color: #ff4655 !important;
}

.paragraph--mapasPage {
  font-size: 2rem;
  font-weight: 100;
}

.background--login {
  height: 100vh;
}

.background__card {
  background-color: #282343;
}

.background__input {
  background-color: #201c35;
  border-color: #201c35;
}

.imgAdjust__loginLogo {
  height: 12rem;
  width: auto;
}

.caja_login {
  background-color: #282343;
  height: 70vh;
}

.login_title {
  font-size: 2rem;
  font-weight: 900;
}

.login_submit {
  font-size: 2rem;
}

.login_logo {
  font-weight: 700;
  font-style: italic;
  font-size: 2.8rem;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
  color: black !important;
  transition: ease-in-out 0.3s;
}
@media (min-width: 0px) and (max-width: 576px) {
  .login_logo {
    font-size: 3.2rem;
  }
}
.login_logo:hover {
  text-shadow: -1px 1px 0 #ff4655, 1px 1px 0 #ff4655, 1px -1px 0 #ff4655, -1px -1px 0 #ff4655;
  color: black !important;
}

/*# sourceMappingURL=styles.css.map */
