* {
  color: white;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box !important;
}

a, a:hover {
  color: white;
  text-decoration: none;
}
body {
  background-color: #201c35;
  height: fit-content;
  overflow-x: hidden;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin: 1.5rem;
}

.paragraph {
  height: fit-content;
  background-color: #282343;
  border: 5px solid #ff4655;
  border-radius: 10px 0px 10px 0px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 3rem;
}

.button {
  background-color: #ff4655;
  border: 3px solid white;
  border-radius: 9px 9px;
  padding: 0.625rem 3.125rem 0.625rem 3.125rem;
  letter-spacing: 7px;
  font-size: 1.2em;
  transition: ease-in-out 0.3s;
}
.button:hover {
  background: #201c35;
  border: 3px solid white;
  color: #ff4655;
}

.red_border_bottom {
  border-bottom: 5px solid #ff4655;
}

li {
  list-style: none;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: black;
  border-bottom: 5px solid #ff4655;
}
.header h1 {
  font-weight: 700;
  font-style: italic;
}

.link__nav {
  text-decoration: none;
  background-image: linear-gradient(#ff4655, #ff4655);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.link__nav:hover {
  background-size: 100% 2px;
  color: #ff4655 !important;
}

.introduction {
  width: 100vw;
  height: 50vh;
  border-bottom: 5px solid #ff4655;
}
.introduction p {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1rem;
}

.havenImg {
  height: 45vh;
  width: auto;
  border: 0.9375rem solid #282343;
}

.img_adjust--agentesIndex {
  height: 30rem;
  width: auto;
}

.imgAdjust--logoIndexAgente {
  width: 10rem;
  height: auto;
  background-color: #282343;
  border-bottom: 4px solid #ff4655;
  padding: 1.25rem;
}
.imgAdjust--logoIndexAgente:hover {
  transform: scale(1.4);
  background-color: #ff4655;
  transition: 0.5s ease-in-out;
}

.img_adjust--mapasIndex {
  height: 20rem;
  width: auto;
  border: 0.9375rem solid #282343;
}

.carousel_decoration {
  border: 1rem solid #282343;
}

.carousel__div, .carousel__div--split, .carousel__div--ascent, .carousel__div--haven, .carousel__div--bind {
  height: 31.6rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
}
.carousel__div--bind {
  background-image: url(../assets/index/bind_logo.jpg);
}
.carousel__div--haven {
  background-image: url(../assets/index/haven_logo2.jpg);
}
.carousel__div--ascent {
  background-image: url(../assets/index/ascent_logo.jpg);
}
.carousel__div--split {
  background-image: url(../assets/index/split_logo.jpg);
}

.carousel_text {
  font-size: 8rem;
  font-weight: 700;
}

.noticias_paragraph {
  background-color: #282343;
  height: 10em;
  border: 1px solid #ff4655;
  text-align: justify;
  padding: 1.5625rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.img_adjust--noticiasIndex {
  height: auto;
  width: 100%;
  border-bottom: 5px solid #ff4655;
}

.footer {
  height: 25vh;
  background-color: #262b28;
}
.footer h2 {
  font-weight: 700;
  font-style: italic;
}

.social_icon {
  height: 1.25rem;
  width: auto;
  margin: 5px;
}

/*# sourceMappingURL=styles.css.map */
