@use "variables";
@use "mixins";


.havenImg{
    height: 45vh;
    width: auto;
    border: 0.9375rem solid #282343;
}

.img_adjust--agentesIndex{
    height: 30rem;
    width: auto;
    @media (min-width: 0px) and (max-width: 576px){
        display: none;
    }
}

.imgAdjust--logoIndexAgente {
    width: 8rem;
    height: auto;
    background-color: #282343;
    border-bottom: 4px solid #ff4655;
    padding: 1.25rem;
    &:hover{
        transform: scale(1.4);
        background-color: #ff4655;
        transition: .5s ease-in-out;
    }
}

.text_adjust--logoIndexAgente{
    font-size: 1.3rem;
}