@use "variables";
@use "mixins";

*{
    color: white;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box !important;
}

a{
    color: white;
    text-decoration: none;
    &:hover{
        @extend a
    }
}

body{
    background-color: variables.$palette-dark-blue;
    height: fit-content;
    overflow-x: hidden;
}

section{
    -webkit-box-shadow: inset -4px -3px 50px 0px #000000ac; 
    box-shadow: inset -4px -3px 50px 0px #000000ac;
}

.section-title{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin: 1.5rem;
    @media (min-width: 0px) and (max-width: 576px){
        font-size: 4rem;;
    }
}

.paragraph{
    height: fit-content;
    background-color: variables.$palette-blue;
    border: 3px solid variables.$palette-red;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 3rem;
    box-shadow: 10px 10px 100px -2px rgba(0, 0, 0, 0.504 ), -10px -10px 100px -2px rgba(0, 0, 0, 0.504);
    @media (min-width: 0px) and (max-width: 576px){
        font-size: 2.1rem;
    }
}

.button{
    background-color: variables.$palette-red;
    border: 3px solid white;
    border-radius: 9px 9px;
    padding: 0.625rem 3.125rem 0.625rem 3.125rem;
    letter-spacing: 7px;
    font-size: 1.2em;
    font-weight: 700;
    transition: ease-in-out 0.3s;
    box-shadow: 5px 5px 80px rgba(0, 0, 0, 0.504 ), -5px -5px 80px rgba(0, 0, 0, 0.504);
    &:hover{
        background: variables.$palette-dark-blue;
        border: 3px solid white;
        color: variables.$palette-red;
        box-shadow: 5px 5px 30px variables.$palette-red, -5px -5px 30px variables.$palette-red;
    }
    
}

.red_border_bottom{
    @include mixins.red-border-bottom
}

li{
    list-style: none;
}