@use "variables";
@use "mixins";


.introduction{
    width: 100vw;
    height: 30rem;
    text-align: center;
    @include mixins.red-border-bottom;
    h1{
        position: relative;
        z-index: 5;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1rem;
    }
}

.intro_section{
    position: relative;
    background-color: black;
    width: 100%;
    overflow: hidden;
    video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    @include mixins.red-border-bottom;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.typeWriter{

    white-space: nowrap;
    border-right: 4px solid;
    width: 28ch;
    margin-left: auto;
    margin-right: auto;
    animation: typing 2s steps(28), blink .5s infinite step-end alternate;
    overflow:hidden;
    @media (min-width: 0px) and (max-width: 576px){
        width: 25ch;
    }
}

@keyframes typing {
    from {width: 0}
}
    
@keyframes blink {
    50%{border-color: transparent}
}

.typeWriter-help{
    display: none;
    @media (min-width: 0px) and (max-width: 576px){
        display: block;
    }
}